<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
  crossorigin="anonymous">
  <link href="" rel="stylesheet">
  <style>
        
/*!
 * Start Bootstrap - 3 Col Portfolio (https://startbootstrap.com/template-overviews/3-col-portfolio)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-3-col-portfolio/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}
  </style>

</head>
<%- include('header'); -%>
<body>
        
        <div class="container">
             
                <!-- Page Heading -->
               
              
                <div class="row ">
                        <%datas.forEach(function(data){%>
                  <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="<%=data.urlToImage %>"  alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#"><%=data.source.name %></a>
                        </h4>
                        <p class="card-text"><%=data.description %></p>
                        
                       
                         <a href="<%=data.url%>" id="click" value="General" class="btn btn-info">Find Out More!</a>
                      </div>
                    </div>
                    
                   
                   
                  </div>
                  <% }) %>
               <!-- Pagination -->

    <!-- /.container -->
       

</body>
<%- include('footer'); -%>

</html>